# Virtual environments
envTS/
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Hugging Face cache (optional)
.cache/